// COLORS
$te__contact__bkg: #2b495f;
$te__contact__text: #fff;

.te__contact
{
    padding: 4em 0;

    background-color: $te__contact__bkg;
    &__container
    {
        @include container(940px);
    }
    &__title
    {
        color: $te__contact__text;
    }
    &__email
    {
        text-align: center;

        @include make-xs-column(12);
        a
        {
            font-size: 1em;
            font-weight: 300;

            text-decoration: none;

            color: $te__contact__text;

            @include breakpoint ('screen-sm')
            {
                font-size: 1.4em;
            }
        }
    }
    &__social
    {
        display: flex;

        @include make-xs-column(12);
        justify-content: center;
        &__item
        {
            padding: 2em 1em;
            a
            {
                font-size: 1.4em;

                color: $te__contact__text;
            }
        }
    }
}
