// COLORS
$te__gallery_bkg: #eee;

.te__gallery
{
    padding: 4em 0;

    background-color: $te__gallery_bkg;
    &__title
    {
        padding-bottom: 2em;

        text-align: center;
    }
    &__container
    {
        line-height: 0;

        padding: .2em;

        column-count: 2;
        column-gap: 0;
        @include container(100%);
        @include breakpoint ('screen-sm')
        {
            column-count: 3;
        }
    }
    &__item
    {
        display: inline-block;

        margin-right: auto;
        margin-left: auto;
        padding: .2em;
        img
        {
            width: 100%;
            height: auto;
        }
    }
}
