// COLORS
$te__gallery__bkg: black;
$te__gallery__text: #fff;
$te__gallery__bkg__img: '../img/gallery-therese-electrique-bkg.jpg';

.te__gallery
{
    padding: 4em 0;

    background: url($te__gallery__bkg__img) center center no-repeat;
    background-color: $te__gallery__bkg;
    background-size: cover;
    &__title
    {
        margin-bottom: 1em;

        text-align: center;

        color: $te__gallery__text;
    }
    &__container
    {
        line-height: 0;

        padding: .2em;

        column-count: 2;
        column-gap: 0;
        @include container(100%);
        @include breakpoint ('screen-sm')
        {
            column-count: 3;
        }
    }
    &__item
    {
        display: inline-block;

        margin-right: auto;
        margin-left: auto;
        padding: .2em;

        cursor: pointer;
        img
        {
            width: 100%;
            height: auto;

            pointer-events: none;

            border: 1px solid $te__gallery__text;
        }
        &--active
        {
            position: fixed;
            z-index: 2000;
            top: 50%;
            left: 50%;

            width: 100%;
            max-width: 800px;
            padding: .5em;

            transform: translate(-50%,-50%);
        }
    }
    &__more
    {
        width: 100%;
        padding: 4em 0 0 0;

        text-align: center;
        span
        {
            display: block;

            color: $te__gallery__text;
        }
        svg
        {
            max-width: 50px;

            cursor: pointer;
            transition: transform .2s;
            transform: translateY(0);
            &:hover
            {
                transform: translateY(5px);
            }
        }
    }
}
