// COLORS
$te__hero__bkg: black;

// IMAGES
$te__hero__img: '../img/grimaces-fast-optimize.gif';
$te__hero__img--static: '../img/therese-electrique-32.jpg';
$te__hero__logo: '../img/therese-electrique-logo-white.png';
$te__hero__logo-head: '../img/therese-electrique-logo-white-head.png';


.te__hero
{
    position: relative;

    display: flex;

    width: 100%;
    height: 350px;

    background: url($te__hero__img--static) center center no-repeat;
    background-size: cover;

    @include breakpoint ('screen-sm')
    {
        height: 500px;
    }
    @include breakpoint ('screen-lg')
    {
        height: 600px;
    }
    align-items: flex-end;
    justify-content: center;
    &:after
    {
        position: absolute;
        z-index: 1;

        display: block;

        width: 100%;
        height: 33.3333%;

        content: '';

        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 77%,rgba(0,0,0,1) 100%);

        @include breakpoint ('screen-lg')
        {
            height: 20%;
        }
    }
    &__logo
    {
        position: relative;
        z-index: 20;
        top: 100px;

        width: 200px;
        height: 200px;

        background: url($te__hero__logo) center center no-repeat;
        background-size: cover;
    }
}
