// COLORS
$te__intro__bkg: black;
$te__intro: #fff;

.te__intro
{
    padding: 4em 0;

    background-color: $te__intro__bkg;

    @include breakpoint ('screen-sm')
    {
        padding: 8em 0 4em 0;
    }
    &__container
    {
        text-align: center;

        @include container(940px);
    }
    &__title
    {
        color: $te__intro;

        @include make-xs-column(12);
    }
    &__text
    {
        color: $te__intro;

        @include make-xs-column(12);
    }
}
