@keyframes rotate
{
    from
    {
        transform: rotate(0);
    }
    to
    {
        transform: rotate(360deg);
    }
}

.te__loader
{
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;

    display: flex;

    width: 100%;
    height: 100%;

    transition: opacity .2s;

    opacity: 1;
    background-color: white;

    align-items: center;
    justify-content: center;
    img
    {
        width: 400px;

        animation: rotate 2s ease 1s infinite;
    }
    &--out
    {
        opacity: 0;
    }
}
