// COLORS
$te__music__bkg: #f50;
$te__music__text: #fff;

.te__music
{
    padding: 4em 0;

    background-color: $te__music__bkg;

    &__container
    {
        @include container(940px);
        @include breakpoint ('screen-sm')
        {
            display: flex;
            flex-direction: row-reverse;

            align-items: center;
        }
    }
    &__copy
    {
        margin-bottom: 2em;

        @include make-row();
        @include make-xs-column(12);
        @include make-sm-column(6);
    }
    &__title,
    &__text
    {
        text-align: center;

        color: $te__music__text;

        @include breakpoint ('screen-sm')
        {
            text-align: left;
        }
    }
    &__soundcloud
    {
        text-align: center;

        @include make-xs-column(12);
        @include make-sm-column(6);
        iframe
        {
            max-width: 400px;
            height: 500px;
        }
    }
}
