// COLORS
$te__trio__bkg: #eee;
$te__title: #000;
$te__text: #000;

.te__trio
{
    padding: 3em 0;

    background-color: $te__trio__bkg;
    &__container
    {
        @include container(940px);
    }
    &__item
    {
        padding-bottom: 15px;

        text-align: center;

        @include make-xs-column(12, 4em);
        @include make-sm-column(4, 4em);
        @include breakpoint ('screen-sm')
        {
            padding-bottom: 0;
        }
        &__img
        {
            overflow: hidden;

            max-width: 200px;

            border-radius: 100%;
            &--animated
            {
                position: absolute;
                top: 0;
                left: 50%;

                display: none;

                width: 100%;

                transform: translateX(-50%);
            }
        }
        &__desc
        {
            padding: 1em 0;

            text-align: center;

            @include breakpoint ('screen-sm')
            {
                padding: 0;
            }
        }
        &__title
        {
            margin: 0;

            color: $te__title;
        }
        &__text
        {
            margin: 0;

            color: $te__text;
        }
        &:hover
        {
            .te__trio__item__img--animated
            {
                display: block;
            }
        }
    }
}
